.intersection {
    height: 40px;
    width:  40px;
    border: 1px solid;
    position: absolute;
}

.intersection .vertical-line {
    border-left: 1px solid;
    margin-left: 50%;
    height: 100%
}

.intersection .horizontal-line {
    border-top: 1px solid;
    margin-top: -50%;
    width: 100%
}

.intersection .stone{
    height: 30px;
    width: 30px;
    margin-left: 15%;
    margin-top: -40%;
    border-radius: 25px;
    z-index: 100;
    box-shadow: 2px 2px 5px rgb(53, 53, 53);
}

.empty.intersection .stone {
    display: none;
}

.black.intersection .stone {
    background-color: black;
}

.white.intersection .stone {
    background-color: snow;
}
